nav ul li a{
    font-size: 1.3em;
    text-decoration: none;
    color: #333;
}

header{
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li a{
    display: block;
    padding: 8px;
    text-decoration: none;
}
#kuva{
    max-width: 900px;
    height: 600px;


}
    
