html{
    padding:0;
    margin:0;
    background-color:rgba(133, 184, 184, 0.548);
}

body{
    max-width:100vw;
    margin:0;
        background: linear-gradient to bottom, rgba(133, 184, 184, 0.548;)
}

.wrapper{
    .wrapper {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
}

header{
    text-align:center;
    font-size:1.4rem;
    text-wrap:balance;
    font-family:Times 'Times New Roman';
    font-weight:100;
    text-decoration:double;
    letter-spacing:-1px;
    color:rgb(8, 53, 90);
    padding-top:-10px;
    border-style:outset;
    border-color:rgb(209, 224, 238);
    border-left-width:0px;
    border-right-width:0px;
    border-bottom-width:0px;
}

.headeri{
    font-family:monospace;
    letter-spacing:2px;
    padding-right:40px;
    margin:10px;
}

nav{
    float:right;
    border-style:outset;
    border-left-width:0px;
}

nav ul{
    list-style-type:none;
    font-size:1.2rem;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content:right;
    padding-right:20px;
}

li{
    margin-top:0.5em;
    margin-bottom:0.5em;
}

a{
    text-decoration:none;
}

img{
    max-width:300px;
    max-height:auto;
}

.kuva1{
    width:250px;
}

.kuva2{
    width:250px;
}

.kuva3{
    width:250px;
}

.esittelykohta{
    padding-left:20px;
    padding-top:25px;
    letter-spacing:1px;
    align-items: center;
    font-size:1.3rem;
    text-wrap:balance;
    max-width:500px;
    word-break:break-all;
}


.syyt{
    font-size:1.15rem;
    font-family:'times';
    letter-spacing: -0.5px;
    font-weight: 600;
}

.päivitys{
    padding-left:20px;
    padding-top:25px;
    max-width:200px;
    font-size:1.15rem;
    font-weight: 600;
    text-wrap:balance;
    max-inline-size: 50ch;
}

.pääkohta{
    text-align:center;
    margin-top:20px;
}

.lisätiedot{
    width:250px;
    padding:20px;
    text-wrap:balance;
}

.keskikohta {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding-top:-500px;
    max-width:700px;
    text-wrap:balance;
    padding-top:100px;
    
}

.napit{
    padding-left:20px;
}

footer{
    background-color:#333;
    color: #fff;
    text-align:center;
    position:fixed;
    bottom:0;
    width:100%;
    opacity:80%;
    font-weight: 800;
}